footer {
  width: 100%;
  padding: 24px 0px 12px 0px;
  background-color: var(--color-neutral);
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 48px 0px 24px 0px;
  }
}
.siguenos {
  margin: 20px 0px 0px 0px;
}
.siguenos .siguenos-img {
  height: 20px;
  object-fit: initial;
  margin-right: 12px;
  opacity: .8;
  transition: .4s;
}
.siguenos-img:hover {
  opacity: 1;
}
.content-footer {
  gap: 16px;
}
@media screen and (min-width: 640px) {
  .content-footer {
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .content-footer {
   grid-template-columns: repeat(4, 1fr);
   gap: 24px;
  }
}
.titles-footer {
  margin-top: 0px;
  font-weight: 600;
  color: var(--color-neutral-6);
}
.content-footer img {
  height: 20px;
}
.content-footer ul {
  border-left: 1px solid var(--color-yellow-2);
  margin-left: 8px;
  padding-left: 8px;
}
.content-footer a {
  color: var(--color-neutral-4);
  font-size: 14px;
  transition: .3s;
}
.content-footer a:hover {
  color: var(--color-neutral-6);
  transition: .3s;
}
@media screen and (min-width: 640px) {
  .box-logo  {
    grid-area: 2 / 1;
  }
}
@media screen and (min-width: 1024px) {
  .box-logo  {
    grid-area: initial;
    justify-self: end;
  }
}
.box-logo .logo-footer {
  height: 100px;
  width: auto;
}
@media screen and (min-width: 640px) {
  .box-logo .logo-footer {
    margin: 0px;
    height: 126px;
  }
}
@media screen and (min-width: 1024px) {
  .box-logo .logo-footer {
    height: 130px;
    margin: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .box-logo .logo-footer {
    height: 140px;
  }
}
.autor {
  color: var(--color-neutral-5);
  text-align: left;
  font-size: 13px;
  margin-bottom: 0px;
}

@media screen and (min-width: 1024px) {
  .autor {
    font-size: 14px;
  }
}
.autor a {
  color: #ffbf00;
}
.autor a:hover {
  color: var(--color-yellow-2);
}
