/* banner rectangular */
.banner-main {
  height: 220px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 640px) {
  .banner-main {
    height: 310px;
  }
}
@media screen and (min-width: 1200px) {
  .banner-main {
    height: 400px;
  }
}
.image-bg-banner-main {
  height: 220px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (min-width: 640px) {
  .image-bg-banner-main {
    height: 310px;
  }
}
@media screen and (min-width: 1200px) {
  .image-bg-banner-main {
    height: 400px;
  }
}
.cap-bg-img {
  height: 220px;
  width: 100%;
  background-color: var(--color-neutral);
  opacity: .35;
  position: absolute;
}
@media screen and (min-width: 640px) {
  .cap-bg-img {
    height: 310px;
  }
}
@media screen and (min-width: 1200px) {
  .cap-bg-img {
    height: 400px;
  }
}
.content-banner-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}
@media screen and (min-width: 640px) {
  .content-banner-principal {
    height: 310px;
  }
}
@media screen and (min-width: 1200px) {
  .content-banner-principal {
    height: 400px;
  }
}
.img-logo-banner {
  width: 75%;
  object-fit: contain;
}
@media screen and (min-width: 640px) {
  .img-logo-banner {  
    height: 220px;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .img-logo-banner {  
    height: 260px;
  }
}





/* tiendas */
.box-shops {
  gap: 16px;
}
@media screen and (min-width: 640px) {
  .box-shops {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .box-shops {
    gap: 32px;
  }
}
.shops {
  display: grid;
  gap: 20px;
}
.item-shop {
  display: flex;
  margin-bottom: 8px;
}
.ico-images-shops {
  height: 20px;
  margin-right: 8px;
}
.images-soporte {
  width: 100%;
  margin-bottom: 16px;
}

/* paginas de error */
.box-err {
  background-image: url("/images/error.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 56px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 1024px) {
	.box-err {
    justify-content: initial;
    padding-top: 160px;
  }
}
.title-err {
  font-size: 40px;
  margin: 10px 0px 0px 0px;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 1px 2px 6px #000;
}
.msg-err {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 16px 0px 0px 0px;
  text-shadow: 1px 2px 6px #000;
}
.box-err img {
  width: 200px;
}
@media screen and (min-width: 640px) {
	.box-err img {
    width: 240px;
  }
}

.box-err .button {
  width: 160px;
}

/* cerrando sesion */
.box-close-sesion {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: var(--zindex-fixed);
}
.img-close-sesion {
  width: 180px;
}
